<!DOCTYPE html>
<html>
  <head>
    <title>HackerNews Fetcher</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no">

    <!-- build:css css/all.css -->
    <link rel="stylesheet" href="./bower_components/mini.css/dist/mini-default.min.css">
    <link rel="stylesheet" href="./style/main.css">
    <!-- endbuild -->

    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>

  </head>

  <body ng-app="HackerNews" ng-controller="MainCtrl" ng-cloak="">
    <div id="news-list" class="container-fluid">
      <h3>Top Hacker News <span>({{filterNews()}} / {{news.length}})</span></h3>
      <hr>
      <div class="row">
        <select class="form-control" ng-model="curFilter"
                                     ng-options="f.value as f.title for f in filters"></select>
        <button class="btn btn-default button secondary" 
          ng-disabled="curStep" role="button" 
          ng-click="refreshItems(curFilter)">Refresh
        </button>
      </div>
      <div class="alert alert-info" ng-if="curStep" ng-bind="curStep"></div>
      <div ng-repeat="item in news | subject:curFilter | orderBy:'-time'" class="card fluid">
        <div class="section">
          <h3>{{::item.title}}</h3>
          <div class="row">
            <div class="col-md-8 col-sm-3">
              <p>
              <a ng-href={{::item.url}} class="btn-link" target="_blank">More...</a>
              </p>
            </div>
            <div class="col-md-4 col-sm-9 text-right">
              <p>{{item.time*1000 | date:'medium'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- build:js js/libs.js -->
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./script/app.js"></script>
    <script src="./script/controllers/main.js"></script>
    <script src="./script/services/storage.js"></script>
    <script src="./script/filters/SubjectFilter.js"></script>
    <!-- endbuild -->

  </body>
</html>
