html, body {
  background: none;
  font-size: 1em;
  font-family: Arial;
}

body {
  width: 90%;
  margin: 1em auto;
}

#news-list {
  /* */
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

