html, body {
  background: none;
  font-size: 1em;
  font-family: Arial;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.hot-item {
  background: #cceeaf;
}

.card p {
  margin: 0;
}
.card a {
  text-decoration: none;
}

a.vk-share-btn {
  display: inline-block;
  text-decoration: none;
}

a.vk-share-btn span {
  position: relative;
  padding: 0;
}

a.vk-share-btn span img {
  width: 20px;
  height: 20px;
}

